{% extends 'global/base.html' %}
{% load static %}
{% load disqus_tags %}
{% set_disqus_url exercise.get_absolute_url %}
{% disqus_dev %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
    <div class="center">
        <h2 class="form-tag">
            Exercício - {{page_tag}}
            <h3 class="home-remove-filter home form-tag less-margin">
                <a href="{{url_to_redirect}}">
                    <i class="fa-solid fa-circle-left"></i>
                    <span class="back-to-home">Voltar</span>
                </a> 
                <span>para Página Anterior</span>
            </h3>
        </h2>
    </div>
    <div class="main-content main-content-detail container center">
        <div class="exercise-container-grid details">
                {% include "training/partials/exercise_card.html" %}
        </div>
        <div class="firefox-warning-message">
            <div class="main-content center container messages-container">
                <div class="message-disqus message-content message-info">
                    <i class="fa-solid fa-circle-info message-icon zoomIn-zoomOut"></i>
                    Se estiver com problemas para comentar no navegador
                    <b>Firefox</b>, recomendamos tentar em outro navegador.
                </div>
            </div>
        </div>
        {% disqus_show_comments %}
    </div>
{% endblock content %}