# 0 false , 1 True

DEBUG = 1
IP = "CHANGE-ME"
SECRET_KEY = "CHANGE-ME"
AXES_ENABLED = 1
RECAPTCHA_PUBLIC_KEY = "CHANGE-ME"
RECAPTCHA_PRIVATE_KEY = "CHANGE-ME"
DASHBOARD_PER_PAGE = 4
HOME_PER_PAGE = 8