{% extends 'global/base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
    <div class="delete-confirm-tag center">
        <h3 class="form-tag main dashboard-tag">
            &#8226 Deseja Realmente Deletar o {{type_of_object}} "{{exercise.title}}" ?
        </h3>
        {% if has_cover %}
            {% if exercise.cover.url %}
                <img src="{{exercise.cover.url}}" alt="Imagem do Exercício">
            {% else %}
                <div class="container">
                    <p id="margin-1">&#8226 Treino : {{workout.title}}</p>
                    <p id="margin-1">&#8226 Usuário : {{workout.user}}</p>
                    <p id="margin-1">
                        &#8226 {{workout.exercises_total}}
                        {% if workout.exercises_total > 1 %}
                        Exercícios
                        {% else %}
                        Exercício
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="confirm-buttons">
        <div class="confirm-buttons-flex">
            <form action="{{form_action}}" method="POST">
                {% csrf_token %}
                {% if is_exercise %}
                    <input type="hidden" name="id" value="{{exercise.pk}}">
                {% else %}
                    <input type="hidden" name="id" value="{{workout.pk}}">
                {% endif %}
                <button type="submit" class="delete-yes">
                    Sim, Tenho Certeza.
                </button>
            </form>
            {% if is_exercise %}
                <a href="{% url 'users:user_dashboard' %}" class="delete-no">Não, Voltar ao Dashboard.</a>
            {% else %}
                <a href="{% url 'users:user_workouts' %}" class="delete-no">Não, Voltar aos Treinos.</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}