{% if request.user.is_authenticated %}
<div class="login-message container center">
    {% if is_dashboard_page %}
        <h3 class='p-05'>
            Este é o seu 
            <a href="{% url 'users:user_dashboard' %}" class="plaintext-button">
                Dashboard ! 
            </a>
            Você pode
            <a href="{% url 'users:create_exercise' %}" class="plaintext-button">
                criar um exercício
            </a>,
            <a href="{% url 'training:home' %}" class="plaintext-button">
                ir até a home
            </a> ou 
            <a href="{% url 'users:logout' %}" class="plaintext-button user-logout-link">
                sair
            </a>.
        </h3>
        {% if is_filtered %}
            <h3 class="home-remove-filter">
                <a href="{% url 'users:user_dashboard' %}">
                    Remover Filtro
                    <i class="fa-solid fa-delete-left"></i>
                </a>
            </h3>
        {% endif %}
    {% endif %}
    {% if is_profile_page or is_change_password_page %}
        <h3 class='p-05'>
            Este é o seu 
            <a href="{% url 'users:user_profile' request.user %}" class="plaintext-button">
                Perfil ! 
            </a>
            Você pode editar seus dados,
            <a href="{% url 'training:home' %}" class="plaintext-button">
                ir até a home
            </a> ou 
            <a href="{% url 'users:logout' %}" class="plaintext-button user-logout-link">
                sair
            </a>.
        </h3>
    {% endif %}

    {% if is_workout_page %}
        <h3 class='p-05'>
            Estes são seus 
            <a href="{% url 'users:user_workouts' %}" class="plaintext-button">
                Treinos ! 
            </a>
            Você pode criar um novo treino
            <a href="{% url 'users:user_workout_create' %}" class="plaintext-button">
                clicando aqui
            </a> ou 
            <a href="{% url 'users:logout' %}" class="plaintext-button user-logout-link">
                sair
            </a>.
        </h3>
    {% endif %}

    {% if not is_dashboard_page and not is_profile_page and not is_change_password_page and not is_workout_page %}
        <h3>
            Logado como {{request.user.username}}
            <a href="{% url 'users:logout' %}" class="plaintext-button user-logout-link">clique aqui</a>
            {% include "global/partials/logout_form.html" %}
            para sair.
        </h3>
    {% endif %}
</div>
{% endif %}