{% extends 'global/base.html' %}
{% block title %} {{title}}{% endblock title %}

{% block content %}
<div class="main-content">
  <div class="page-tag-title">
    <h3 class="home-remove-filter left">
      <a href="{{url_to_redirect}}">
          <i class="fa-solid fa-circle-left"></i>
          <span class="back-to-home">Voltar</span>
      </a>
      {% if is_workout_edit %}
      <span class="sep">|</span>
      <span>
        <a href="{% url 'users:user_workout_create' %}">
          <i class="fa-solid fa-circle-plus"></i>
          Novo Treino
        </a>
      </span>
      {% endif %}
    </h3>
    <h2>
      {% if is_workout_edit %}
        <i class="fa-solid fa-pen-to-square"></i>
      {% else %}
        <i class="fa-solid fa-circle-plus m-right"></i>
      {% endif %}
        {{title}}
    </h2>
  </div>

  {% include "global/partials/messages.html" %}
    <div class="left">
        {% include "global/partials/form.html" %}
    </div>
</div>

{% endblock content %}
