{% extends 'global/base.html' %}
{% block title %} {{title}}{% endblock title %}

{% block content %}
    <div class="main-content center container">
        {% if is_workout_edit %}
            <h3 class="form-tag dashboard-forms">
                <i class="fa-solid fa-pen-to-square"></i>
                {{title}}
            </h3>
        {% else %}
            <h3 class="form-tag dashboard-forms">
                <i class="fa-solid fa-circle-plus"></i>
                {{title}}
            </h3>
        {% endif %}
        <div class="login-message container center">
            <h3 class="form-tag">
                <a href="{% url 'users:user_workouts' %}" class="plaintext-button">
                    <i class="fa-solid fa-circle-left"></i>
                    Voltar
                </a>
                para Lista de Treinos
            </h3>
            {% if is_workout_edit %}
                <div class="add-new-workout">
                    <a href="{% url 'users:user_workout_create' %}">
                        <i class="fa-solid fa-circle-plus"></i>
                        Novo Treino
                    </a>
                </div>
            {% endif %}
        </div>

        {% include "global/partials/messages.html" %}
        <div class="left">
            {% include "global/partials/form.html" %}
        </div>
    </div>

{% endblock content %}