{% extends 'global/base.html' %}
{% block title %} {{title}}{% endblock title %}

{% block content %}
    <div class="main-content center container">
        {% if is_exercise_edit %}
            <h3 class="form-tag dashboard-forms">
                <i class="fa-solid fa-pen-to-square"></i>
                {{title}}
            </h3>
        {% else %}
            <h3 class="form-tag dashboard-forms">
                <i class="fa-solid fa-dumbbell"></i>
                {{title}}
            </h3>
        {% endif %}
        <div class="login-message container center">
            <h3 class="form-tag main">
                <a href="{% url 'users:user_dashboard' %}" class="plaintext-button">
                    <i class="fa-solid fa-circle-left"></i>
                    Clique aqui
                </a>
                para ir ao Dashboard.
            </h3>
            {% if is_exercise_edit %}
                <div class="add-new-exercise">
                    <a href="{% url 'users:create_exercise' %}">
                        <i class="fa-solid fa-circle-plus"></i>
                        Novo Exercício
                    </a>
                </div>
            {% endif %}
        </div>

        {% include "global/partials/messages.html" %}
        <div class="left">
            {% include "global/partials/form.html" %}
        </div>
    </div>

{% endblock content %}