{% extends 'global/base.html' %}
{% block content %}

<div class="main-content center">
    <h2 class="form-tag">Esqueci Minha Senha</h2>
    <div class="forgot-password-progress">
      <ul id="reset-password-progressbar">
        <li class="active" id="verify-email"><strong>E-mail</strong></li>
        <li id="verify-code"><strong>Código</strong></li>
        <li id="reset-password"><strong>Resetar Senha</strong></li>
      </ul>
    </div>
</div>

{% include 'global/partials/messages.html' %}

{% if not request.user.is_authenticated %}
    {% include "global/partials/form.html" %}
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const pageAttr = '{{pageAttr}}';
    handleForgotPasswordPages(pageAttr);
});
</script>

{% endblock content %}
