{% extends 'global/base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
    <div class="center">
        <h2 class="form-tag main dashboard-tag">
            <i class="fa-solid fa-clipboard-user"></i>
            {{page_tag}}
        </h2>
        <div class="dashboard-message-padding">
            {% include "users/partials/login_message.html" %}
            {% include "global/partials/messages.html" %}
        </div>
    </div>
    <div class="main-content main-content-list container center">
        <div class="exercise-container-grid">
            {% for exercise in exercises  %}
                {% include "training/partials/exercise_card.html" %}
            {% empty %}
            <div class="main-content-error-page container center">
                <div class="error-message-content">
                    <img src="{% static 'global/imgs/404_fakenatty.png' %}" loading="lazy" alt="">
                    <h2>Fake Natty !</h2>
                    <h3>
                        Parece que não há exercícios, não é mesmo ?
                        <h3><a href="{% url 'users:create_exercise' %}">Criar Exercício.</a></h3>
                    </h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}