{% extends "global/base.html" %}
{% load static %}
{% load filters %}

{% block content %}

<div class="user-profile-container">
  {% if user_profile.profile_picture %}
  <img src="{{user_profile.profile_picture.url}}" alt="Foto de Perfil de {{user}}">
  {% else %}
  <img src="{% static 'global/imgs/default-user-picture.png' %}" alt="Foto de Perfil de {{user}}">
  {% endif %}
  <div class="user-profile-content">
    <div class="user-profile-show-data">
      <h2>
        {% if user.username == request.user.username %}
        {{user.username|title_limit_length}} (você)
        {% else %}
        {{user.username|title_limit_length}}
        {% endif %}
      </h2>
      <h2>
        {% if user.username == request.user.username %}
        <a href="{% url 'users:user_profile_data' request.user.username %}" title="Editar Perfil">
          Editar Perfil
          <i class="fa-solid fa-user-pen m-left"></i>
        </a>
        {% elif already_follows %}
        <form action="{% url 'users:unfollow' user.pk %}"
        method="post" class="inline-form" title="Deixar de Seguir">
          {% csrf_token %}
          <button type="submit" class="plaintext-button">
            Deixar de Seguir
            <i class="fa-solid fa-user-minus"></i>
          </button>
        </form>
        {% else %}
        <form action="{% url 'users:follow' user.pk %}"
        method="post" class="inline-form" title="Seguir">
          {% csrf_token %}
          <button type="submit" class="plaintext-button">
            Seguir
            <i class="fa-solid fa-user-plus"></i>
          </button>
        </form>
        {% endif %}
      </h2>
    </div>
    <div class="user-profile-stats">
      <h2>{{exercises|length}} Posts</h2>
      <h2>{{follower_count}} Seguidores</h2>
      <h2>{{following_count}} Seguindo</h2>
    </div>
    <div class="user-profile-bio">
      <p>
        {{user_profile.biography}}
      </p>
    </div>
  </div>
</div>

<div class="user-profile-posts">
  {% if exercises %}
  <h2 class="form-tag">Exercícios</h2>
  {% endif %}
  <div class="user-exercise-post-list">
    {% for exercise in exercises  %}
    <div class="user-exercise-post-item">
      <img src="{{exercise.cover.url}}" alt="{{exercise.title}}">
      <h2>{{exercise.title}}</h2>
    </div>
    {% empty %}
    <div class="main-content-error-page center">
      <div class="error-message-content">
        <h3>Esse Usuário não tem Publicações !</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
