{% extends 'global/base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
<div class="main-content-profile center">
    {% if user_profile.profile_picture %}
        <img src="{{user_profile.profile_picture.url}}" alt="Foto de Perfil do Usuário">
    {% endif %}
</div>
<div class="center mt">
    <h2 class="form-tag profile">
        Meu Perfil ({{request.user.username}})
    </h2>
    {% include "users/partials/login_message.html" %}
    {% include "global/partials/messages.html" %}
    {% if is_google_account %}
        <span class="btn-google-signin profile center">
            <img src="{% static 'global/imgs/google_icon.png' %}" alt="Logar com google">
            Conectado com Google.
        </span>
    {% endif %}
</div>
<div class="container">
    {% include "global/partials/form.html" %}
</div>
{% endblock content %}