{% extends 'global/base.html' %}
{% load static %}
{% load filters %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
    <div class="center">
        <h2 class="form-tag main dashboard-tag">
            <i class="fa-solid fa-clipboard-user"></i>
            {{page_tag}}
        </h2>

        {% if is_filtered %}
            {% include "global/partials/is_filtered.html" %}
        {% endif %}

        <div class="dashboard-message-padding">
            {% include "global/partials/messages.html" %}
        </div>
    </div>
    <div class="main-content main-content-list container center">
        {% if workouts %}
            <table class="content-table">
                <thead>
                  <tr class="table-tr">
                    <th scope="col">Nome do Treino</th>
                    <th scope="col">Total de Exercícios</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col">Deletar</th>
                  </tr>
                </thead>
                <tbody>
                {% for workout in workouts  %}
                  <tr class="table-tr">
                    <td scope="row" class="workout-name">
                        <a href="{% url 'users:user_workout_edit' workout.pk %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                            {{workout.title|title_limit_length}} 
                        </a>
                    </td>
                    <td> {{ workout.exercises_total|format_exercises_num }} </td>
                    <td> <a href="{% url 'users:user_profile' request.user %}">
                        {{ workout.user.username|title_limit_length }}
                        </a> 
                    </td>
                    <td>
                        {{ workout.created_at|date:"d/m/Y" }}
                        ás {{ workout.created_at|date:"H:i" }}
                    </td>
                    <td>
                        <a href="{% url 'users:user_workout_detail' workout.pk %}">
                            Ver <i class="fas fa-search-plus"></i>
                        </a>
                    </td>
                    <td class="workout-delete-form">
                        <a href="{% url 'users:user_workout_delete' workout.pk %}" class="workout-delete center">
                            <i class="fa-solid fa-trash-can" title="Deletar"></i>
                        </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="main-content-error-page container center">
            <div class="error-message-content">
                <img src="{% static 'global/imgs/404_fakenatty.png' %}" alt="Imagem de Erro">
                <h2>Fake Natty !</h2>
                <h3>
                    Parece que não há nenhum Treino, não é mesmo ?
                    <h3><a href="{% url 'users:user_workout_create' %}">Criar Treino.</a></h3>
                </h3>
            </div>
        </div>
        {% endif %}
    </div>
    {% if workouts %}
        <div class="add-new-workout">
            <a href="{% url 'users:user_workout_create' %}">
                <i class="fa-solid fa-circle-plus"></i>
                Novo Treino
            </a>
        </div>
    {% endif %}
{% endblock content %}