{% extends "global/base.html" %}
{% load static %}
{% load filters %}

{% block content %}

<div class="user-profile-container">
  {% if user_profile.profile_picture %}
  <img src="{{user_profile.profile_picture.url}}" alt="Foto de Perfil de {{user}}">
  {% else %}
  <img src="{% static 'global/imgs/default-user-picture.png' %}" alt="Foto de Perfil de {{user}}">
  {% endif %}
  <div class="user-profile-content">
    <div class="user-profile-show-data">
      <h2>
        {% if user.username == request.user.username %}
        {{user.username|title_limit_length}} (você)
        {% else %}
        {{user.username|title_limit_length}}
        {% endif %}
      </h2>
      <h2>
        {% if user.username == request.user.username %}
        <a href="{% url 'users:user_profile_data' request.user.username %}" title="Editar Perfil">
          Editar Perfil
          <i class="fa-solid fa-user-pen m-left"></i>
        </a>
        {% elif already_follows %}
        <form action="{% url 'users:unfollow' user.pk %}"
        method="post" class="inline-form" title="Deixar de Seguir">
          {% csrf_token %}
          <button type="submit" class="plaintext-button">
            Deixar de Seguir
            <i class="fa-solid fa-user-minus"></i>
          </button>
        </form>
        {% else %}
        <form action="{% url 'users:follow' user.pk %}"
        method="post" class="inline-form" title="Seguir">
          {% csrf_token %}
          <button type="submit" class="plaintext-button">
            Seguir
            <i class="fa-solid fa-user-plus"></i>
          </button>
        </form>
        {% endif %}
      </h2>
    </div>
    <div class="user-profile-stats">
      <h2>{{exercises|length}} Posts</h2>
      <a href="{% url 'users:followers' user.username %}" class="plaintext-button alt">
        <h2>{{follower_count}} Seguidores</h2>
      </a>
      <a href="{% url 'users:following' user.username %}"
      class="plaintext-button alt">
      <h2>{{following_count}} Seguindo</h2>
      </a>
    </div>
    {% if user_health is not None %}
    <div class="user-profile-bio">
      <div class="btn user-health-profile-data">Altura : {{user_health.height}} cm</div>
      <div class="btn user-health-profile-data">Peso : {{user_health.weight}} kg</div>
    </div>
    {% endif %}
  </div>
</div>

<div class="user-profile-posts">
  {% if exercises %}
  <h2 class="form-tag">Exercícios do Usuário</h2>
  {% endif %}
  <div class="user-exercise-post-list">
    {% for exercise in exercises  %}
    <div class="user-exercise-post-item">
      {% if exercise.is_published %}
      <a target="_blank" href="{% url 'training:exercises_detail' exercise.slug %}">
        <img src="{{exercise.cover.url}}" alt="{{exercise.title}}">
      </a>
      {% else %}
      <img src="{{exercise.cover.url}}" alt="{{exercise.title}}">
      {% endif %}
    </div>
    {% empty %}
    <div class="main-content-error-page center">
      <div class="error-message-content">
        <h3>Esse Usuário não tem Publicações !</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
