{% extends 'global/base.html' %}
{% load static %}
{% load filters %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
<div class="main-content-profile center">
    {% if user_profile.profile_picture %}
      <img src="{{user_profile.profile_picture.url}}" alt="Foto de Perfil do Usuário">
    {% endif %}
</div>
<div class="center mt m-0-auto">
    <h2 class="form-tag profile">
        {% if not is_change_password_page %}
            <i class="fa-solid fa-circle-user m-right"></i>
            {{request.user.username|title_limit_length}}
        {% else %}
            <i class="fa-solid fa-key m-right"></i>
            {{request.user.username|title_limit_length}} - Alterar Senha
        {% endif %}
    </h2>

    <div class="show-user-form">
      {% if is_profile_page %}
        <div class="user-profile-data selected">
      {% else %}
        <div class="user-profile-data">
      {% endif %}
        <a class="user-profile-data-show-form"
        href="{% url 'users:user_profile_data' request.user.username %}">Meus Dados
        </a>
    </div>

        {% if is_change_password_page %}
            <div class="user-password-change selected">
        {% else %}
            <div class="user-password-change">
        {% endif %}
            <a class="user-profile-change-password-form"
                href="{% url 'users:user_profile_change_password' request.user.username %}">
                Alterar Senha
            </a>
        </div>
    </div>
</div>
<div class="container">
    {% if is_google_account %}
      <div class="google-profile-btn">
        <span class="btn-google-signin profile center">
          <img src="{% static 'global/imgs/google_icon.png' %}" alt="Logar com google">
          Conta Google.
        </span>
      </div>
    {% endif %}
    {% include "global/partials/messages.html" %}
    {% include "global/partials/form.html" %}
</div>
{% endblock content %}
