{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "global/partials/head.html" %}
    <title> {% block title %}{{title}}{% endblock title %} | NattyOrNot</title>
</head>
<body>
    {% include "global/partials/menu.html" %}
    {% include "global/partials/header.html" %}
    <main class="main-content-container">
        {% block content %}{% endblock content %}
    </main>

<a class="back-to-top" href="#">➤</a>
{% include "global/partials/pagination.html" %}
{% include "global/partials/footer.html" %}
<script src="{% static 'global/js/darkmode.js' %}"></script>
<script src="{% static 'global/js/scripts.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>