<div class="filters-page center fadeIn-screen">
  <div class="filters-page-flex">
    <div class="filters-page-title">
      <span>Filtros de Pesquisa <i class="fa-solid fa-sliders"></i></span>
    </div>
    <div class="close-filters-page">
      <i class="fa-solid fa-circle-xmark" id="close-filters-page" title="Fechar Tela de Filtros"></i>
    </div>
  </div>
  <hr>

  {% if is_home_page %}
    <div class="categories-filter home-page center">
      <span>Categorias</span>
        <div class="categories-list home-page center">
            {% for category in categories  %}
            <p> 
              <a href="{% url 'training:category' category.pk %}">
                &#8226 {{category.name}}
              </a>
            </p>
            {% endfor %}
        </div>
    </div>
  {% else %}

  <div class="filters-container-flex">
    <div class="categories-filter">
      <span>Categorias</span>
        <div class="categories-list">
            {% for category in categories  %}
            <p> 
              <a href="{% url 'users:user_dashboard_category' category.pk %}">
                &#8226 {{category.name}}
              </a>
            </p>
            {% endfor %}
        </div>
    </div>
  
    <div class="is_published-filter">
      <span>Visibilidade</span>
      <div class="published-list">
        <p>
          <a href="{% url 'users:user_dashboard_is_published' True %}">
            &#8226 Públicado
          </a>
        </p>
        <p>
          <a href="{% url 'users:user_dashboard_is_published' False %}">
            &#8226 Não Públicado 
          </a>
        </p>
      </div>
    </div>
  </div>

  {% endif %}
</div>
