<div class="dropdown-container">
    <div class="results">
        {% if results_count is not None %}
            <span>
                {{results_count}}
                {% if results_count == 1 %}
                resultado
                {% else %}
                resultados
                {% endif %}
            </span>
        {% endif %}
        {% if is_filtered %}
        {% include "global/partials/is_filtered.html" %}
        {% endif %}
    </div>

    {% if is_home_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Categorias
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{% url 'training:category' category.pk %}" title="{{category.name}}">
              {{category.name}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if is_dashboard_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Categorias
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{% url 'users:user_dashboard_category' category.pk %}" title="{{category.name}}">
              {{category.name}}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="dropdown-filters">
        <button class="dropbtn">
            Visibilidade
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{% url 'users:user_dashboard_is_published' True %}" title="Publicado">
                Publicado
            </a>
            <a href="{% url 'users:user_dashboard_is_published' False %}" title="Não Publicado">
                Não Publicado 
            </a>
        </div>
    </div>
    {% endif %}

    {% if is_workout_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Visibilidade
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{% url 'users:user_workout_is_shared' True %}" title="Publicado">
                Publicado
            </a>
            <a href="{% url 'users:user_workout_is_shared' False %}" title="Não Publicado">
                Não Publicado 
            </a>
        </div>
    </div>
    {% endif %}
</div>