<div class="dropdown-container">
    <div class="results">
        {% if results_count is not None %}
            <span>
                {{results_count}}
                {% if results_count == 1 %}
                resultado
                {% else %}
                resultados
                {% endif %}
            </span>
        {% endif %}
        {% if is_filtered %}
        {% include "global/partials/is_filtered.html" %}
        {% endif %}
    </div>

    {% if is_home_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Categorias
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{% url 'training:category' category.pk %}" title="{{category.name}}">
              {{category.name}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if is_dashboard_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Categorias
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{% url 'dashboard:user_dashboard_category' category.pk %}" title="{{category.name}}">
              {{category.name}}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="dropdown-filters">
        <button class="dropbtn">
            Visibilidade
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{% url 'dashboard:user_dashboard_shared_filter' 'MYSELF' %}" title="Somente Você">
              <i class="fa-regular fa-user"></i>
              Apenas Você
            </a>
            <a href="{% url 'dashboard:user_dashboard_shared_filter' 'FOLLOWERS' %}" title="Meus Seguidores">
              <i class="fa-solid fa-user-group"></i>
              Meus Seguidores
            </a>
            <a href="{% url 'dashboard:user_dashboard_shared_filter' 'ALL' %}" title="Todos">
              <i class="fa-solid fa-earth-americas"></i>
              Todos
            </a>
        </div>
    </div>
    {% endif %}

    {% if is_workout_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Visibilidade
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{% url 'users:user_workout_shared_status' 'MYSELF' %}" title="Apenas Você">
              <i class="fa-regular fa-user"></i>
              Apenas Você
            </a>
            <a href="{% url 'users:user_workout_shared_status' 'ALL' %}" title="Todos">
              <i class="fa-solid fa-earth-americas"></i>
              Todos
            </a>
        </div>
    </div>
    {% endif %}

    {% if is_favorites_page %}
    <div class="dropdown-filters">
        <button class="dropbtn">
            Categorias
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{% url 'users:user_exercises_favorites_category' category.pk %}"
              title="{{category.name}}">
              {{category.name}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
