<footer class="main-footer">
    <div class="developers">
        <span>
            <a href="https://github.com/bryanoliveira11/Projeto-NattyOrNot">
                <i class="fa-brands fa-github"></i>
                GitHub
            </a>
        </span>
        <p class="p-t p-b">
            Este App é Apenas um Protótipo. 
        </p>
    </div>

    <div class="powered">
        <a href="https://www.djangoproject.com/" target="_blank">
            <i class="fa-brands fa-python"></i>
            Powered By Django
        </a>
    </div>
</footer>