{% load socialaccount %}
{% load static %}

{% if form.errors %}
    <div class="form-content form-content-grid">
        <div class="message-form">
            <div class="message message-error center">
                Existem Erros Neste Formulário.
            </div>
        </div>
    </div>
{% endif %}

{% if is_login_page %}
{% if not request.user.is_authenticated %}
<a class="btn-google-signin center"
    href="{% provider_login_url 'google'%}?next=/dashboard/exercises/">
    <img src="{% static 'global/imgs/google_icon.png' %}" alt="Logar com google">
    Continuar com o Google
</a>
{% endif %}
{% endif %}


<div class="main-content container">
    <form action="{{form_action}}" class="main-form container"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if is_login_page %}
    <div class="form-content form-content-grid login">
    {% else %}
    <div class="form-content form-content-grid">
    {% endif %}

        {% for field in form  %}
            <div class="form-group {{field.field.widget.attrs.class}}">
                <label for="{{field.id_for_label}}"> {{field.label}} </label>
                {{field}}

                {% if field.help_text %}
                    <p class="help-text">{{field.help_text}}</p>
                {% endif %}
                    {{field.errors}}
            </div>

            {% if field.name == 'cover' and field.value.url %}
                <div class="span-2">
                    <img class="form-image" src="{{field.value.url}}" alt="">
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if is_login_page %}
        <div class="show-password-container prevent-select">
            <p class="plaintext-button show-password" id="show-password">
                <i class="fa-regular fa-eye" id="show-password-icon"></i>
                <a id="show-password-text">Mostrar</a>
            </p>
        </div>
    {% endif %}

    {% if is_exercise_form or is_workout_form %}
        {% if captcha_private_key %}
            <div class="captcha-centered">
                <div class="g-recaptcha" data-sitekey="{{captcha_public_key}}"></div>
            </div>
        {% endif %}
    {% endif %}

    <div class="form-content form-content-grid">
        <div class="form-group">
            <button class="btn-submit" type="submit">
                <i class="fa-solid fa-check"></i>
                Enviar
            </button>
        </div>
    </div>

    </form>
</div>
