{% load static %}
{% load filters %}

<header class="header">
  {% include "global/partials/notifications.html" %}
  <a href="{% url 'training:home' %}" class="logo header-link prevent-select prevent-select" title="NattyOrNot">NattyOrNot</a>
  <div class="header-right">
    {% if request.user.is_authenticated %}
      <a href="{% url 'users:user_dashboard' %}" class="header-link prevent-select" title="Dashboard">
        <i class="fa-solid fa-clipboard-user"></i>
        Dashboard
      </a>
      <a href="{% url 'users:user_workouts' %}" class="header-link prevent-select" title="Treinos">
        <i class="fa-solid fa-dumbbell"></i>
        Treinos
      </a>
      {% if notification_total > 0 %}
      <a class="header-link prevent-select" id="toggle-notification-menu" title="{{notification_total}} Notificações">
        <i class="fa-solid fa-bell bell-menu"></i>
        {% if notification_total %}
        <span class='notification-total'>
           {{notification_total}}
        </span>
        {% endif %}
        {% if notification_total == 1 %}
          Notificação
        {% else %}
          Notificações
        {% endif %}
      </a>
      {% endif %}
      <a class="header-link prevent-select" id="toggle-dark-mode" title="Alterar Tema">
        <i class="fa-solid" id="theme-icon"></i>
        Tema
      </a>
      <a href="{% url 'users:user_profile' request.user.username %}" class="header-link prevent-select" title="{{request.user.username}}">
        <i class="fa-solid fa-circle-user"></i>
        {{request.user.username|title_limit_length}}
      </a>
      <a href="{% url 'users:logout' %}" class="user-logout-link header-link prevent-select" title="Encerrar Sessão">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sair
        {% include "global/partials/logout_form.html" %}
      </a>
    {% else %}
      <a class="header-link prevent-select" id="toggle-dark-mode" title="Alterar Tema">
        <i class="fa-solid" id="theme-icon"></i>
        Tema
      </a>
      <a href="{% url 'users:login' %}" class="header-link prevent-select" title="Fazer Login">
        <i class="fa-solid fa-right-to-bracket"></i>
        Login
      </a>
      <a href="{% url 'users:register' %}" class="header-link prevent-select" title="Fazer Cadastro">
        <i class="fa-solid fa-user-plus"></i>
        Cadastro
      </a>
    {% endif %}
  </div>
</header>
