{% load static %}
{% load filters %}
<button class="button-show-menu button-show-menu-is-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">mostrar menu</span>
</button>

<div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-is-visible">
        <i class="fas fa-times-circle"></i>
        <span class="hidden-text">esconder menu</span>
    </button>

    <div class="menu-content">
        <nav class="menu-nav">
            <span class="menu-link title center flex-center">
                <i class="fa-solid fa-compass"></i>
                Atalhos
            </span>

            <span class="menu-link">
                <a href="{% url 'training:home' %}" class="animated-border" title="Home">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </span>

            {% if request.user.is_authenticated %}
                <span class="menu-link">
                    <a href="{% url 'users:create_exercise' %}" class="animated-border" title="Criar Novo Exercício">
                        <i class="fa-solid fa-weight-hanging"></i>
                        Novo Exercício
                    </a>
                </span>
                <span class="menu-link">
                    <a href="{% url 'users:user_workout_create' %}" class="animated-border" title="Criar Novo Treino">
                        <i class="fa-solid fa-dumbbell"></i>
                        Novo Treino
                    </a>
                </span>
                <span class="menu-link">
                    <a href="{% url 'users:user_profile_change_password' request.user %}" class="animated-border" title="Alterar Senha">
                        <i class="fa-solid fa-key"></i>
                        Alterar Senha
                    </a>
                </span>
                <span class="menu-link">
                    <a href="{% url 'users:logout' %}" class="user-logout-link animated-border" title="Encerrar Sessão">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Sair
                    </a>
                    {% include "global/partials/logout_form.html" %}
                </span>
            {% else %}
                <span class="menu-link">
                    <a href="{% url 'users:login' %}" class="animated-border" title="Fazer Login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </a>
                </span>
                <span class="menu-link">
                    <a href="{% url 'users:register' %}" class="animated-border" title="Fazer Cadastro">
                        <i class="fa-solid fa-user-plus"></i>
                        Cadastro
                    </a>
                </span>
            {% endif %}
        </nav>
    </div>
</div>