<div class="notifications-page center fadeIn-screen">
    <div class="notifications-page-flex">
        <div class="notifications-page-title">
            <span>
                {% if notification_total %}
                    {{notification_total}}
                    {% if notification_total > 1 %}
                    Notificações
                    {% else %}
                    Notificação
                    {% endif %}
                {% else %}
                    Notificações
                {% endif %}
                <i class="fa-solid fa-bell notifications-bell"></i>
            </span>
        </div>
        <div class="close-notifications-page right">
            <i class="fa-solid fa-circle-xmark" id="close-notifications-page" title="Fechar Tela de Notificações"></i>
        </div>
    </div>
  <hr/>
    <div class="notifications-container">
        {% for notification in notifications  %}
            <div class="notification">
                <div class="notification-subject">
                    <p>{{notification.subject_html|safe}}</p>
                    <div class="notification-dismiss">
                        <form action="{% url 'users:notification_delete_single' notification.id %}" class="inline-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{request.user.username}}">
                            <input type="hidden" name="previous_page" value="{{request.path}}">
                            <button class="plaintext-button general-icons" type="submit" title="Remover Notificação">
                                <i class="fa-solid fa-xmark" title="Remover Notificação"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="notification-message left">
                    {{notification.message|safe}}
                </div>
                <div class="notification-sendby center">
                    {{ notification.send_at|date:"d/m/Y" }}
                    ás {{ notification.send_at|date:"H:i" }}
                </div>
            </div>
        {% empty %}
        <div class="no-notifications">
            <i class="fa-solid fa-bell-slash"></i>
            <p>Nenhuma Notificação Encontrada.</p>
        </div>
        {% endfor %}
        {% if notifications %}
            <div class="notifications-dismiss">
                <form action="{% url 'users:notifications_delete' %}" class="inline-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{request.user.username}}">
                    <input type="hidden" name="previous_page" value="{{request.path}}">
                    <button class="plaintext-button white-text" type="submit" title="Remover Todas as Notificações">
                        Remover Notificações
                        <i class="fa-solid fa-check"></i>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
