@import url(root.css);

/* api page */
.main-api-page {
  max-width: 64rem;
}

.api-tag {
  font-size: 2rem;
  margin: var(--spacing-gutter-medium) 0 1rem 0;
  text-align: left;
}

.api-paragraph {
  text-align: left;
  padding-bottom: 2rem;
  margin-left: 0.5rem;
}

.api-paragraph img {
  padding: 1.2rem 0 0 0;
}

.api-paragraph a {
  cursor: pointer;
}

.api-paragraph a:hover {
  scale: 1.2;
}

.api-paragraph.method {
  margin: 0;
}

.api-span {
  font-weight: 600;
}

.api-url {
  margin-left: 0.5rem;
}

.api-url a {
  color: var(--color-primary);
  transition: all 200ms ease-in-out;
}

.api-url a:hover {
  filter: brightness(0.6);
}

textarea.api-textarea {
  width: 100%;
  max-width: 60rem;
  height: 30rem;
  max-height: 60rem;
  margin: 1rem 0 1rem 0;
  padding: 0 2rem 0 2rem;
}

textarea.api-textarea:focus {
  outline: 2px solid var(--color-primary);
  border: none;
}

.http-method {
  color: var(--color-white);
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.http-method.get {
  background-color: var(--color-success);
}

.http-method.post {
  background-color: var(--color-warning-dark);
}

.http-method.patch {
  background-color: var(--color-info-dark);
}

.http-method.delete {
  background-color: var(--color-error-dark);
}
