@import url(root.css);

.dark-mode-style,
.dark-mode-table,
.exercise-cover,
.notification.dark-mode-style {
  background: var(--clr-dark-background);
  color: var(--color-gray-0);
}

.dark-mode-cards {
  background: var(--clr-dark-background);
  color: var(--color-gray-0);
}

table tr.tr-dark {
  border: 1px solid #121212;
}
