@import url(root.css);

/* home exercise cards */

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gutter-medium);
  max-width: 140rem;
}

.exercise-container-grid .exercise {
  min-width: 250px;
  max-width: 290px;
  flex: 1;
  margin: var(--spacing-gutter-medium);
}

.exercise-container-grid.details {
  margin-bottom: 2rem;
}

.exercise {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}

.exercise img {
  max-width: 100%;
  cursor: pointer;
}

.exercise-list-item {
  max-width: 33rem;
  height: fit-content;
}

.exercise-list-item:hover {
  transform: scale(1.02);
  box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.exercise-title-container {
  padding: calc(var(--spacing-gutter-medium) / 2);
}

.exercise-title {
  color: var(--color-primary);
  font-size: 2rem;
  word-wrap: break-word;
}

.exercise-title-container a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.exercise-title-container a:hover {
  color: var(--color-primary-hover);
}

.exercise-data {
  padding: 1rem;
}

.exercise-content {
  padding: var(--spacing-gutter-medium);
}

.exercise-data a {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.exercise-data a:hover {
  color: var(--color-primary-hover);
}

.exercise-data .fa-layer-group {
  font-size: 1.5rem;
}

.exercise-status {
  padding: 0.5rem;
}

.exercise-status a.not-published {
  color: var(--color-error-dark);
  transition: all 200ms ease-in-out;
}

.exercise-status a.not-published:hover {
  color: var(--color-error-dark-hover);
}

.exercise-status a.published {
  color: var(--color-success);
  transition: all 200ms ease-in-out;
}

.exercise-status a.published:hover {
  color: var(--color-success-dark);
}

.exercise-description {
  padding: var(--spacing-gutter-medium);
}

.exercise-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.exercise-meta-container {
  display: flex;
  flex-flow: row wrap;
  padding: var(--spacing-gutter-medium);
}

.exercise-meta-title {
  font-size: 1.6rem;
}

.exercise-footer a {
  background: var(--color-primary);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  padding: calc(var(--spacing-gutter-medium) / 2);
  transition: all 300ms ease-in-out;
}

.exercise-footer a:hover {
  filter: brightness(0.8);
}

.exercise-cover {
  background: #fff;
}

.dashboard-cover img,
.exercise-cover img,
.detail-cover img,
.detail-cover.home-page img {
  max-height: 19rem;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
}

.detail-cover img {
  max-height: fit-content;
  margin: 0 auto;
}

.exercise-cover.workout-cover img {
  max-height: 32rem;
}

.form-tag.main {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.form-tag.profile {
  margin-bottom: 1rem;
}

.form-tag.profile img {
  width: 1rem;
}

.home-remove-filter a {
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-left: 1rem;
}

.home-remove-filter span {
  font-size: 1.7rem;
}

.home-remove-filter .fa-delete-left {
  color: var(--color-primary);
}

.home-remove-filter a:hover {
  color: var(--color-primary);
  filter: brightness(0.9);
}

.home-remove-filter .fa-circle-left,
.home-remove-filter .fa-circle-right,
.home-remove-filter .back-to-home {
  color: var(--color-primary);
}

.main-content-detail .exercise-list-item {
  max-width: 62rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.main-content-detail .exercise-list-item {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.main-content-detail .exercise img {
  margin: 0 auto;
  cursor: default;
}

/* footer */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-dark);
  color: var(--color-white);
  padding: var(--spacing-gutter-large);
  margin-top: auto;
}

.main-footer a {
  color: var(--color-white);
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  cursor: pointer;
  color: var(--color-primary);
}
