/* keyframes */

@keyframes messageFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.hide-message {
  animation: messageFadeOut 0.5s ease-in-out;
}

@keyframes screenFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-screen {
  animation: screenFadeIn 0.3s ease-in-out;
}

@keyframes shakeIcon {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.icon-shake {
  animation: shakeIcon 1s infinite;
}
