@import url(root.css);

/* messages */
.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
  max-width: 68rem;
}

.message-form {
  margin: 0 auto;
  width: 100%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
}

.message-disqus {
  padding: 1rem;
}

.dismiss-flash-message {
  font-size: 1.9rem;
  transition: all 200ms ease-in-out;
}

.dismiss-flash-message:hover {
  cursor: pointer;
  scale: 1.2;
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.login-message {
  padding-top: 0;
  margin-bottom: 0.6rem;
}

.login-message h3,
.login-message a {
  font-size: 1.6rem;
}

.login-register-redirect h3 {
  font-size: 1.4rem;
}

.login-register-redirect span {
  margin-left: 0.3rem;
}

.login-register-redirect.register {
  margin-bottom: 1rem;
}
