/* vars */
:root {
  --color-primary: #fa885f;
  --color-secondary: #16161d;
  --color-accent: #ffa500;

  --color-white: #ebe4e2;
  --clr-dark-background: #313136;
  --color-black: #000;
  --color-dark-text: #444;

  --nav-color-secondary: hsl(240, 14%, 17%);
  --nav-border: 1px solid var(--color-gray-0);
  --nav-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-success: #5bc273;
  --color-alert-dark: #927f40;
  --color-warning-dark: #b9a14f;
  --color-error-dark: #da525d;
  --color-error-dark-hover: #7a3036;
  --color-error-dark-transparent: #da525d6b;

  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-gray-0: #f3f1f1;
  --color-gray-1: #dfdede;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-primary-dark-shadow: #13141f96;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 1.7rem;
  --spacing-gutter-large: 3rem;
  --spacing-gutter-extra-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  background: var(--color-accent);
}

body {
  background: var(--color-white);
  background: -webkit-linear-gradient(
    to left,
    #e6e4e9,
    #d7d3df
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e6e4e9,
    #d7d3df
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-dark-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

/* navbar */

.logo {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 2rem;
  color: var(--color-gray-0);
  margin: 0 1rem 0 1rem;
}

.logo img {
  width: 4rem;
  height: 3.5rem;
}

#nav-menu {
  background: var(--color-secondary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--color-secondary);
}

.menu-bar li:first-child .nav-dropdown {
  flex-direction: initial;
}

a.nav-link,
button.nav-link {
  position: relative;
  letter-spacing: -0.6px;
  min-width: 60px;
  margin: 0 0.6rem;
  padding: 0.5rem;
  color: var(--color-gray-0);
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 200ms ease-in-out;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.menu-bar .nav-link span.notification-total {
  margin-right: 0.5rem;
}

.nav-chevron {
  margin-left: 0.3rem;
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  background: var(--nav-color-secondary);
  min-width: 230px;
  border-radius: 0.5rem;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 100ms ease-in-out;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.nav-dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
}

.nav-dropdown ul .dropdown-link span {
  color: var(--color-gray-0);
  transition: all 200ms ease;
  font-size: 1.5rem;
}

.nav-dropdown ul .dropdown-link .fa-dumbbell {
  rotate: 90deg;
}

.nav-dropdown ul .dropdown-link span:hover {
  color: var(--color-accent);
}

.nav-dropdown ul .dropdown-link p {
  font-size: 1.2rem;
}

.nav-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
  background: none;
  outline: none;
  border: none;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--color-gray-3);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.menu .search-bar-invisible {
  display: none;
}

.search input {
  background: var(--color-gray-0);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--nav-border);
  transition: all 200ms ease-in-out;
}

.search button {
  padding: 0.5rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.search input:focus {
  outline: 1px solid var(--color-accent);
}

.search .fa-magnifying-glass {
  color: var(--color-dark-text);
}

.search:focus-within {
  border-color: var(--color-accent);
}

.search:focus-within .fa-magnifying-glass {
  color: var(--color-accent);
}

.search .fa-magnifying-glass {
  position: absolute;
  left: 5px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

.nav-profile {
  margin: 0 1rem 0 1rem;
}

.nav-profile img {
  width: 45px;
  height: 45px;
}

#hamburger {
  display: none;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--color-gray-0);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 100ms ease;
}

#hamburger:hover {
  color: var(--color-accent);
}

/* home exercise cards */

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gutter-medium);
  max-width: 140rem;
}

.exercise-container-grid .exercise {
  min-width: 250px;
  max-width: 290px;
  flex: 1;
  margin: var(--spacing-gutter-medium);
}

.exercise-container-grid.details {
  margin-bottom: 2rem;
}

.exercise {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}

.exercise img {
  max-width: 100%;
  cursor: pointer;
}

.exercise-list-item {
  max-width: 33rem;
  height: fit-content;
}

.exercise-list-item:hover {
  transform: scale(1.02);
  box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.exercise-title-container {
  padding: calc(var(--spacing-gutter-medium) / 2);
}

.exercise-title {
  color: var(--color-primary);
  font-size: 2rem;
  word-wrap: break-word;
}

.exercise-title-container a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.exercise-title-container a:hover {
  filter: brightness(85%);
}

.exercise-data {
  padding: 1rem;
}

.exercise-content {
  padding: var(--spacing-gutter-medium);
}

.exercise-card-background {
  background: var(--color-gray-0);
}

.exercise-data a {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.exercise-data a:hover {
  filter: brightness(85%);
}

.exercise-data .fa-layer-group {
  font-size: 1.5rem;
}

.exercise-status {
  padding-top: 1rem;
}

.exercise-description {
  padding: var(--spacing-gutter-medium);
}

.exercise-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.exercise-meta-container {
  display: flex;
  flex-flow: row wrap;
  padding: var(--spacing-gutter-medium);
}

.exercise-meta-title {
  font-size: 1.6rem;
}

.exercise-footer a {
  background: var(--color-primary);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  padding: calc(var(--spacing-gutter-medium) / 2);
  transition: all 300ms ease-in-out;
}

.exercise-footer a:hover {
  filter: brightness(0.8);
}

.exercise-footer.home-card {
  display: flex;
}

.exercise-footer.home-card a {
  width: 80%;
  padding: calc(var(--spacing-gutter-medium) / 2);
}

.favorite-exercise-btn .favorite-exercise {
  position: absolute;
  width: 25%;
}

.favorite-exercise-btn .favorite-exercise a {
  color: var(--color-white);
  background: var(--color-dark-text);
}

.exercise-cover {
  background: #fff;
}

.dashboard-cover img,
.exercise-cover img,
.detail-cover img,
.detail-cover.home-page img {
  max-height: 19rem;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
}

.detail-cover img {
  max-height: fit-content;
  margin: 0 auto;
}

.exercise-cover.workout-cover img {
  max-height: 40rem;
}

.form-tag.less-margin {
  margin-top: 2rem;
}

.form-tag.profile {
  margin: 1rem;
}

.form-tag.profile img {
  width: 1rem;
}

.home-remove-filter a {
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-left: 1rem;
}

.home-remove-filter span {
  font-size: 1.7rem;
}

.home-remove-filter .fa-delete-left {
  color: var(--color-primary);
}

.home-remove-filter a:hover {
  color: var(--color-primary);
  filter: brightness(0.9);
}

.home-remove-filter .fa-circle-left,
.home-remove-filter .fa-circle-right,
.home-remove-filter .back-to-home {
  color: var(--color-primary);
}

.main-content-detail .exercise-list-item {
  max-width: 62rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.main-content-detail .exercise-list-item {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.main-content-detail .exercise img {
  margin: 0 auto;
  cursor: default;
}

/* footer */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-secondary);
  color: var(--color-white);
  padding: var(--spacing-gutter-large);
  margin-top: auto;
  box-shadow: 0.8rem 0 1.6rem 0 rgba(0, 0, 0, 0.1);
}

.main-footer a {
  color: var(--color-white);
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  cursor: pointer;
  color: var(--color-primary);
}

/* forms */

.main-form {
  padding-top: 0;
}

.form-content {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: var(--spacing-gutter-medium);
}

.form-tag {
  margin: 4rem 2rem 0 2rem;
  font-size: 2.2rem;
  padding: 0 0 1rem 0;
  word-wrap: break-word;
}

.form-content label,
.form-content .help_text,
.errorlist {
  display: block;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  list-style: none;
}

.form-content label {
  margin-bottom: 0.5rem;
}

.help-text {
  padding: 0.4rem 0 0 0;
  font-size: 1.4rem;
}

.helptext-p {
  font-size: 1.4rem;
}

.errorlist li {
  padding: 0.3rem;
  font-size: 1.4rem;
}

.errorlist {
  color: var(--color-error-dark);
}

.form-content input,
.form-content textarea,
.form-content select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-accent);
}

select {
  height: 15rem;
}

select#id_shared_status.single-select {
  height: fit-content;
}

select option {
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  font-weight: 500;
  color: var(--color-black);
}

select option:hover,
select option:checked {
  box-shadow: 0 0 10px 100px #ffa500 inset;
}

.form-content input:focus,
#id_description:focus {
  outline: var(--color-accent) solid 1px;
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-gutter-medium) / 2);
}

.form-content-grid.login {
  margin-bottom: 0;
  margin-top: 2rem;
}

.form-image {
  margin: 0 auto;
  padding: 1rem;
}

.form-content button {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  transition: all 300ms ease-in-out;
}

.form-content button:hover {
  letter-spacing: 0.1rem;
  filter: brightness(85%);
}

.plaintext-button {
  display: inline;
  border: none;
  background: none;
  color: var(--color-primary);
  font-size: 1.6rem;
}

.plaintext-button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.inline-form {
  display: inline;
}

.login-password-field {
  position: relative;
}

#id_password.login-password-field {
  padding-right: 5rem;
}

.forgot-password-content {
  margin: 0.5rem 0.3rem 0.5rem 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.forgot-password-content a#forgot-password {
  color: var(--color-dark-text);
  font-size: 1.3rem;
}

.forgot-password-content a#forgot-password:hover {
  filter: brightness(85%);
}

body.dark-mode-style .forgot-password-content a#forgot-password {
  color: var(--color-gray-1);
}

#show-password-icon {
  padding: 1rem;
  color: var(--color-dark-text);
  position: absolute;
  right: 0.15rem;
  transform: translateY(-50%);
  cursor: pointer;
}

#show-password-icon {
  top: 47%;
}

#show-password-icon:hover {
  background: rgba(68, 68, 68, 0.062);
}

/* dashboard */
.dashboard-exercise-title {
  padding: 0.5rem;
}

.exercise-created-at span {
  padding: 0.2rem;
}

.exercise-dashboard-footer {
  display: flex;
}

.exercise-dashboard-footer a {
  color: var(--color-white);
  text-decoration: none;
  padding: calc(var(--spacing-gutter-medium) / 2);
  transition: all 300ms ease-in-out;
  border: none;
  font-size: 1.7rem;
}

.exercise-dashboard-footer a {
  background: var(--color-primary);
  width: 80%;
}

.exercise-dashboard-footer a:hover {
  filter: brightness(85%);
}

.delete-page .open-delete-page {
  position: absolute;
  width: 20%;
  background: var(--color-error-dark);
}

.exercise-dashboard-footer a:hover {
  cursor: pointer;
}

.exercise-dashboard-footer a:hover {
  background: var(--color-primary);
}

.delete-page .open-delete-page:hover {
  background: var(--color-error-dark-hover);
}

.dashboard-tag,
.dashboard-forms {
  padding: 0;
  margin-bottom: 1rem;
}

/* delete page */

.delete-confirm-tag {
  margin-top: 3rem;
}

.delete-confirm-tag h3 {
  font-size: 1.8rem;
}

.delete-confirm-tag img {
  margin: 0 auto;
  padding: 1rem;
  max-width: 44rem;
  border-radius: 0.4rem;
}

.confirm-buttons {
  margin: 3rem auto;
  max-width: 64rem;
}

.confirm-buttons-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.confirm-buttons .delete-yes {
  background: var(--color-success);
  margin-right: 1rem;
  outline: 0;
  border: 0;
}

.confirm-buttons .delete-no {
  background: var(--color-error-dark);
  margin-left: 1rem;
}

.confirm-buttons .delete-yes,
.confirm-buttons .delete-no {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.7rem;
  border-radius: 0.4rem;
  color: var(--color-white);
  transition: all 300ms ease-in-out;
  text-align: center;
}

.confirm-buttons .delete-yes:hover,
.confirm-buttons .delete-no:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#margin-1 {
  margin: 1rem;
}

/* dropdown filters */

.results span {
  font-family: var(--font-headings);
}

.results .clean-filters {
  color: var(--color-error-dark);
  font-family: var(--font-primary);
  margin-left: 1rem;
  font-size: 1.2rem;
}

.results .clean-filters .fa-circle-xmark {
  font-size: 130%;
}

.results .clean-filters:hover {
  filter: brightness(85%);
}

.dropdown-container {
  max-width: 64rem;
  margin: 0 auto 1rem auto;
}

.dropdown-filters {
  display: inline-block;
  margin-top: 0.8rem;
  position: relative;
}

.dropbtn {
  background: var(--color-accent);
  color: var(--color-white);
  padding: 1.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0.8rem 0 1.6rem 0 rgba(0, 0, 0, 0.1);
}

.dropbtn .fa-caret-down {
  margin-left: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-white);
  width: 12.4rem;
  min-width: 1.6rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: left;
  color: var(--color-dark-text);
  background: var(--color-gray-0);
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  transition: all 150ms ease-in-out;
}

.dropdown-content a:hover {
  background: var(--color-gray-2);
}

.dropdown-filters:hover .dropdown-content {
  display: flex;
  flex-flow: column;
  max-height: 25rem;
  overflow-y: auto;
}

.dropdown-filters:hover .dropbtn {
  filter: brightness(85%);
}

/* notifications page */

.notifications-page {
  width: 60rem;
  max-height: 45rem;
}

.notifications-page .close-notifications-page {
  align-items: end;
  justify-content: end;
}

.fa-bell.notifications-bell {
  font-size: 2rem;
  margin-left: 0.4rem;
}

.notifications-page {
  top: 28%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  display: none;
  background: var(--color-primary);
  margin: 2.5rem auto;
  border-radius: 0.4rem;
  z-index: 3;
  transition: all 150ms ease-in-out;
  font-family: var(--font-primary);
  color: var(--color-white);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
}

.notifications-page-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0 2rem;
}

.notifications-page-title {
  text-align: left;
  width: 80%;
}

.notifications-page-title span {
  font-size: 2rem;
}

.close-notifications-page {
  text-align: right;
  width: 20%;
  padding: 1rem;
  font-size: 2.5rem;
}

.close-notifications-page i {
  transition: all 150ms ease-in-out;
}

.close-notifications-page i:hover {
  cursor: pointer;
  scale: 1.2;
}

/* notifications container */

.notifications-container {
  width: 100%;
  display: block;
}

.no-notifications {
  padding: 2rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.no-notifications i {
  font-size: 8rem;
}

.no-notifications p {
  font-size: 2.5rem;
  margin-top: var(--spacing-gutter-large);
}

.notification {
  background: var(--color-white);
  color: var(--color-dark-text);
  padding-bottom: 1rem;
  margin: 1.3rem;
  border-radius: 0.3rem;
  transition: all 300ms ease-in-out;
}

.notification-subject {
  display: flex;
  align-items: start;
  padding: 1rem;
  font-weight: 700;
}

.notification-message {
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  word-wrap: break-word;
}

.notification-sendby {
  padding: 1rem 0 0.5rem 0;
}

a.notification-url {
  color: var(--color-primary);
  transition: all 150ms ease-in-out;
}

a.notification-url:hover {
  filter: brightness(0.8);
}

.notification-dismiss {
  display: flex;
  flex: auto;
  align-items: end;
  justify-content: end;
}

.notification-dismiss button i {
  font-size: 2rem;
  margin-right: 1rem;
}

.notification-dismiss button i:hover {
  scale: 1.2;
}

.notifications-dismiss button {
  font-size: 1.8rem;
  padding: 1rem;
  background: var(--color-accent);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  transition: all 300ms ease-in-out;
  margin: 0 auto;
  width: 96%;
  max-width: 100%;
}

.notifications-dismiss button:hover {
  filter: brightness(115%);
}

/* messages */
.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
  max-width: 67rem;
}

.message-form {
  margin: 0 auto;
  width: 100%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
  font-size: 1.8rem;
  text-align: left;
}

.message-disqus {
  padding: 1rem;
}

.dismiss-flash-message {
  transition: all 200ms ease-in-out;
  order: 2;
}

.dismiss-flash-message:hover {
  cursor: pointer;
  scale: 1.2;
}

.message-error {
  border: 1px solid #f10606cf;
  background: #dc110129;
  box-shadow: 0px 0px 2px #ff0303;
  color: #e46b6b;
}

.message-success {
  border: 1px solid #24f10675;
  background: #0795421f;
  box-shadow: 0px 0px 2px #259c08;
  color: #3fa73d;
}

.message-warning {
  border: 1px solid #f18e06cf;
  background: #dc800129;
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
  transition: 0.5s;
}

.message-info {
  border: 1px solid #062cf175;
  background: #0749951f;
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
}

.message-content i {
  font-size: 2rem;
}

.icon-shake {
  margin-right: 0.5rem;
}

.login-message {
  padding-top: 0;
  margin-bottom: 0.6rem;
}

.login-message h3,
.login-message a {
  font-size: 1.6rem;
}

.login-register-redirect h3 {
  font-size: 1.4rem;
}

.login-register-redirect span {
  margin-left: 0.3rem;
}

/* profile */

.main-content-profile img {
  max-width: 64rem;
  max-height: 22rem;
  border-radius: 0.5rem;
}

.main-content-profile {
  max-width: 64rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2.5rem;
}

.btn-google-signin.profile {
  margin-bottom: 2rem;
}

.show-user-form {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile-data,
.user-password-change {
  border-radius: 0.4rem;
  background: var(--color-gray-3);
  padding: 1rem;
}

.user-profile-data a,
.user-password-change a {
  color: var(--color-gray-0);
  font-weight: 600;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.user-profile-data {
  margin-right: 1rem;
}

.user-profile-data.selected,
.user-password-change.selected {
  background: var(--color-primary);
}

.user-profile-data a:hover,
.user-password-change a:hover {
  filter: brightness(1.3);
  color: var(--color-dark-text);
}

/* api page */
.main-api-page {
  max-width: 64rem;
}

.api-tag {
  font-size: 2rem;
  margin: var(--spacing-gutter-medium) 0 1rem 0;
  text-align: left;
}

.api-paragraph {
  text-align: left;
  padding-bottom: 2rem;
  margin-left: 0.5rem;
}

.api-paragraph img {
  padding: 1.2rem 0 0 0;
}

.api-paragraph a {
  cursor: pointer;
}

.api-paragraph a:hover {
  scale: 1.2;
}

.api-paragraph.method {
  margin: 0;
}

.api-span {
  font-weight: 600;
}

.api-url {
  margin-left: 0.5rem;
}

.api-url a {
  color: var(--color-primary);
  transition: all 200ms ease-in-out;
}

.api-url a:hover {
  filter: brightness(0.6);
}

textarea.api-textarea {
  width: 100%;
  max-width: 60rem;
  height: 30rem;
  max-height: 60rem;
  margin: 1rem 0 1rem 0;
  padding: 0 2rem 0 2rem;
}

textarea.api-textarea:focus {
  outline: 2px solid var(--color-primary);
  border: none;
}

.http-method {
  color: var(--color-white);
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.http-method.get {
  background: var(--color-success);
}

.http-method.post {
  background: var(--color-warning-dark);
}

.http-method.patch {
  background: var(--color-info-dark);
}

.http-method.delete {
  background: var(--color-error-dark);
}

/* user workouts */

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}

table tr {
  border: 1px solid #c5c5c5;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

td a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 150ms ease-in-out;
}

td a:hover {
  filter: brightness(0.8);
}

.workout-name {
  text-transform: capitalize;
}

.exercise.workout {
  max-width: 48rem;
  margin-top: var(--spacing-gutter-extra-large);
}

.exercise-status a.status-myself,
.exercise-status a.status-followers,
.exercise-status a.status-all {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.exercise-status a.status-myself:hover,
.exercise-status a.status-followers:hover,
.exercise-status a.status-all:hover {
  filter: brightness(70%);
}

.exercise-status a.status-myself {
  color: var(--color-accent);
}

.exercise-status a.status-followers {
  color: var(--color-debug-dark);
}

.exercise-status a.status-all {
  color: var(--color-success);
}

.add-new-workout,
.add-new-exercise {
  padding: 0.5rem 0 1.5rem 0;
}

.add-new-workout,
.add-new-exercise {
  max-width: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem auto;
  padding-right: 2rem;
}

.add-new-workout a,
.add-new-exercise a {
  color: var(--color-primary);
}

.add-new-workout a:hover,
.add-new-exercise a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.workout-share a {
  color: var(--color-dark-text);
  font-size: 2.2rem;
}

.workout-share a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.delete-icon {
  font-size: 1.8rem;
  color: var(--color-error-dark);
}

.delete-icon:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.workout-delete-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-delete {
  background: none;
  border: none;
}

/* pagination */
.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
}

.pagination .page-item {
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-accent);
  color: var(--color-white);
}

.pagination .page-link.page-item {
  transition: all 200ms ease;
}

.pagination .page-link.page-item:hover {
  filter: brightness(85%);
}

.pagination .page-current {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.pagination-arrow {
  font-size: 3rem;
  color: var(--color-primary);
  transition: all 200ms ease-in-out;
}

.pagination-arrow:hover {
  color: var(--color-primary);
  scale: 1.08;
}

/* 404 error page */
.main-content-error-page {
  width: fit-content;
  margin: 0 auto;
}

.main-content-error-page img {
  max-width: 44rem;
  border-radius: 0.6rem;
  margin: 0 auto;
}

.main-content-error-page i.fa-magnifying-glass-minus {
  margin-top: 5rem;
  font-size: 10rem;
}

.error-message-content h2 {
  font-size: 2.5rem;
  margin-top: var(--spacing-gutter-medium);
}

.error-message-content h3 {
  font-size: 1.7rem;
  margin-top: calc(var(--spacing-gutter-medium) / 2);
}

.error-message-content a {
  color: var(--color-primary);
}

.error-message-content a:hover {
  filter: brightness(85%);
}

/* disqus */

#disqus_thread {
  max-width: 64rem;
  margin: 0 auto;
}

.dsq-brlink {
  display: none;
}

.firefox-warning-message {
  margin-top: 2.5rem;
}

/* others */
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb {
  margin-bottom: 1rem;
}

.mb1-5 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.m-right {
  margin-right: 0.3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.m-left {
  margin-left: 0.3rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.p-05 {
  padding: 0.5rem;
}

.p-t {
  padding-top: 1rem;
}

.p-medium {
  padding: var(--spacing-gutter-medium);
}

.m-0-auto {
  margin: 0 auto;
}

.white-text {
  color: var(--color-white);
}

.dark-text {
  color: var(--color-dark-text);
}

.green-text {
  color: var(--color-success);
}

.yellow-text {
  color: var(--color-warning-dark);
}

.blue-text {
  color: var(--color-info-dark);
}

.red-text {
  color: var(--color-error-dark);
}

.default-link {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.default-link:hover {
  filter: brightness(85%);
}

.sep {
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.span-2 {
  margin-top: 0.5rem;
  grid-column: span 2;
  font-family: sans-serif;
  font-size: 1.33rem;
}

.capitalize {
  text-transform: capitalize;
}

.select-more-height {
  max-height: 26rem;
  height: 26rem;
}

.fa-dumbbell {
  transform: rotate(90deg);
}

.fa-pen-to-square,
.fa-clipboard-user {
  margin-right: 0.5rem;
}

.fa-user,
.fa-sliders {
  margin-left: 0.5rem;
}

.captcha-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0 1.5rem 0;
  max-width: 100%;
}

.btn-google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0.8rem;
  max-width: 64rem;
  border-radius: 0.3rem;
  margin: 0 auto;
  background: var(--color-gray-1);
  color: var(--color-dark-text);
  font-family: var(--font-headings);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.356);
  transition: all 300ms ease-in-out;
}

.btn-google-signin:hover {
  background: var(--color-gray-3);
}

.btn-google-signin.profile:hover {
  background: var(--color-white);
}

.btn-google-signin img {
  margin-right: 1rem;
  width: 2.5rem;
}

.invisible {
  display: none;
}

.captcha-form .errorlist {
  margin-top: 6rem;
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--color-accent);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  color: var(--color-white);
  transform: rotate(-90deg);
  transition: all 300ms ease-in-out;
}

.back-to-top:hover {
  scale: 1.2;
}

/* darkmode */

body.dark-mode-style,
body.dark-mode-style .exercise-cover,
body.dark-mode-style .notifications-container .notification {
  background: var(--clr-dark-background);
  color: var(--color-gray-0);
}

body.dark-mode-style .exercise-card-background,
body.dark-mode-style .workouts-table tr {
  background: var(--clr-dark-background);
  color: var(--color-gray-0);
}

body.dark-mode-style .workouts-table tr {
  border: 1px solid #121212;
}

/* keyframes */

@keyframes messageFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}

.hide-message {
  animation: messageFadeOut 0.5s ease-in-out;
}

@keyframes screenFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-screen {
  animation: screenFadeIn 0.3s ease-in-out;
}

@keyframes shakeIcon {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.icon-shake {
  animation: shakeIcon 1s infinite;
}

@keyframes zoomInzoomOut {
  0% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.zoomIn-zoomOut {
  margin-right: 0.5rem;
  animation: zoomInzoomOut 1s infinite;
}

/* medias */
@media (max-width: 1620px) {
  .back-to-top {
    bottom: 1rem;
    right: 1rem;
  }
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
    position: relative;
  }

  .nav-container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 2;
  }

  .nav-dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
    background: none;
  }

  .menu.show,
  .nav-dropdown.active {
    display: block;
  }

  .nav-dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .menu-bar .nav-link i {
    margin-right: 0.5rem;
  }
}

@media (max-width: 750px) {
  .main-content-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exercise-container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-gutter-medium);
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .message-form,
  .messages-container {
    width: 91%;
  }
  .btn-google-signin,
  .btn-google-signin.profile {
    width: 84%;
  }

  .dropdown-container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .menu .search-bar-invisible {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu .search-bar-invisible .search-bar-menu {
    width: 95%;
  }

  .menu .search-bar-invisible .search-bar-menu .search .fa-magnifying-glass {
    margin-left: 0.2rem;
    top: 1.8rem;
    left: 1.5rem;
  }

  .right-container {
    display: none;
  }

  .form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2);
    align-items: center;
    justify-content: center;
  }

  .forgot-password-content {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .form-content {
    display: block;
    padding: 0;
    width: 100%;
  }

  .form-group {
    margin-top: 1rem;
  }

  .form-image {
    padding: 1rem 0 0 0;
  }

  .help-text {
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
  }

  .errorlist li {
    margin-bottom: 0.3rem;
  }

  .main-content-error-page {
    margin: 0 auto;
  }

  .main-content-error-page img {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 40rem;
  }

  .main-content-error-page h2 {
    font-size: 2rem;
  }

  .main-content-error-page h3 {
    font-size: 1.4rem;
  }

  .p-b {
    padding-bottom: 1rem;
  }

  .captcha-centered {
    margin-top: 6.2rem;
  }

  .captcha-form .errorlist {
    margin-top: 8rem;
  }

  table {
    border: 0;
    font-size: 2rem;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid var(--color-gray-2);
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid var(--color-gray-2);
    display: block;
    font-size: 0.8em;
    text-align: left;
  }

  table td::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .workout-delete-form {
    align-items: start;
    justify-content: start;
  }

  .notifications-page {
    width: 98%;
    top: 28%;
  }

  .notifications-page-title span {
    font-size: 1.8rem;
  }

  .close-notifications-page {
    font-size: 2.5rem;
  }

  .notifications-page-flex {
    display: flex;
  }

  .confirm-buttons {
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  .g-recaptcha {
    transform: scale(0.77);
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  .main-footer {
    display: block;
    text-align: center;
  }
}
