/* vars */
:root {
  --color-primary: #fa8a3f;
  --color-primary-light: #dd9e73;
  --color-primary-hover: #b85a1c;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-white: #fff;
  --clr-white-background: #f5f5ff;
  --color-black: #000;
  --color-dark-text: #444;
  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-success: #5bc273;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;
  --color-error-dark-hover: #7a3036;
  --color-error-dark-transparent: #da525d6b;

  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-gray-0: #f3f1f1;
  --color-gray-1: #dfdede;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-primary-dark-shadow: #13141f96;

  --font-primary: sans-serif;
  --font-headings: "Roboto Slab", serif;

  --spacing-gutter-medium: 2rem;
  --spacing-gutter-large: 3rem;
  --spacing-gutter-extra-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::selection {
  background: var(--color-gray-2);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--clr-white-background);
  color: var(--color-dark-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

/* header */
.main-header-container {
  background: var(--color-primary-dark);
  box-shadow: 2px 1px 1px 2px var(--color-primary-dark-shadow);
}

.main-header-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
}

.main-header-content span {
  font-size: 3rem;
}

.main-header a {
  color: var(--color-white);
}

.main-logo.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: var(--spacing-gutter-medium);
}

.main-logo.logo img {
  width: 4rem;
  margin: 0 0.7rem 0.5rem 0;
}

/* search */

.search-container {
  width: 100%;
  flex-wrap: nowrap;
  transition: all 300ms ease-in-out;
  padding: 2rem 2rem 0.5rem 2rem;
}

.search-form {
  background: var(--color-white);
  margin: 0 auto;
  position: relative;
  max-width: 64rem;
  border: 0.2rem solid var(--color-dark-text);
  transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
  border: none;
  outline: none;
  padding: 1.1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-button:focus {
  outline: 1px solid var(--color-primary);
  background: rgba(24, 24, 24, 0.05);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background: var(--color-white);
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

/* home exercise cards */

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gutter-medium);
  max-width: 140rem;
}

.exercise-container-grid .exercise {
  min-width: 250px;
  max-width: 290px;
  flex: 1;
  margin: var(--spacing-gutter-medium);
}

.exercise {
  background: var(--color-white);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}

.exercise img {
  max-width: 100%;
  cursor: pointer;
}

.exercise-list-item {
  max-width: 33rem;
  height: fit-content;
  background: var(--color-gray-0);
}

.exercise-list-item:hover {
  transform: scale(1.02);
  box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.exercise-title-container {
  padding: var(--spacing-gutter-medium);
}

.exercise-title {
  color: var(--color-primary);
  font-size: 2rem;
}

.exercise-title-container a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.exercise-title-container a:hover {
  color: var(--color-primary-hover);
}

.exercise-data {
  background: var(--color-gray-0);
  padding: 1rem;
}

.exercise-content {
  padding: var(--spacing-gutter-medium);
}

.exercise-data a {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.exercise-data a:hover {
  color: var(--color-primary-hover);
}

.exercise-data .fa-layer-group {
  font-size: 1.5rem;
}

.exercise-status {
  background: var(--color-gray-0);
  padding: 0.5rem;
}

.exercise-status a.not-published {
  color: var(--color-error-dark);
  transition: all 200ms ease-in-out;
}

.exercise-status a.not-published:hover {
  color: var(--color-error-dark-hover);
}

.exercise-status a.published {
  color: var(--color-success);
  transition: all 200ms ease-in-out;
}

.exercise-status a.published:hover {
  color: var(--color-success-dark);
}

.exercise-description {
  background: var(--color-gray-0);
  padding: var(--spacing-gutter-medium);
}

.exercise-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.exercise-meta-container {
  display: flex;
  flex-flow: row wrap;
  background: var(--color-gray-0);
  padding: var(--spacing-gutter-medium);
}

.exercise-meta-title {
  font-size: 1.6rem;
}

.exercise-footer a {
  background: var(--color-primary-light);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  padding: calc(var(--spacing-gutter-medium) / 2);
  transition: all 300ms ease-in-out;
}

.exercise-cover {
  background: #fff;
}

.exercise-footer a:hover {
  background: var(--color-primary);
}

.form-tag.main, .form-tag.profile {
  margin-bottom: 0;
}

.home-remove-filter a {
  color: var(--color-primary);
  font-size: 1.7rem;
  padding-bottom: 2rem;
}

.home-remove-filter a:hover {
  color: var(--color-primary-hover);
}

.main-content-detail .exercise-list-item {
  max-width: 62rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.main-content-detail .exercise-list-item {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.main-content-detail .exercise img {
  margin: 0 auto;
  cursor: default;
}

/* form */

.main-form {
  padding-top: 0;
}

.form-content {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: var(--spacing-gutter-medium);
}

.form-tag {
  margin: 1.5rem 2rem 2rem 2rem;
  font-size: 2.2rem;
  padding: 0 0 1rem 0;
}

.form-content label,
.form-content .help_text,
.errorlist {
  display: block;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  list-style: none;
}

.help-text {
  padding: 0.4rem 0 0 0;
  font-size: 1.4rem;
}

.errorlist li {
  padding: 0.3rem;
  font-size: 1.4rem;
}

.errorlist {
  color: var(--color-error-dark);
}

.form-content input,
.form-content textarea,
.form-content select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
}

select option:hover, select option:checked {
  box-shadow: 0 0 10px 100px #dd9e73 inset;
}

.form-content input:focus, #id_description:focus {
  outline: var(--color-primary-hover) solid 1px;
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-gutter-medium) / 2);
}

.form-content-grid.login {
  margin-bottom: 0;
  margin-top: 2rem;
}

.form-image {
  margin: 0 auto;
  padding: 1rem;
}

.form-content button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  transition: all 300ms ease-in-out;
}

.form-content button:hover {
  background: var(--color-primary-hover);
}

.plaintext-button {
  display: inline;
  border: none;
  background: none;
  color: var(--color-primary);
  font-size: 1.6rem;
}

.plaintext-button:hover {
  cursor: pointer;
  color: var(--color-primary-hover);
}

.inline-form {
  display: inline;
}

.show-password-container {
  display: flex;
  align-items: end;
  justify-content: end;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  max-width: 64rem;
}

.show-password {
  margin: 0 0.5rem 0.1rem 0;
  cursor: pointer;
  color: var(--color-primary-dark);
  font-size: 1.4rem;
}

.show-password:hover {
  color: var(--color-primary-dark-hover);
}

#show-password-text {
  text-decoration: none;
}

/* messages */
.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
  max-width: 68rem;
}

.message-form {
  margin: 0 auto;
  width: 100%;
}

.message {
  padding: 1rem;
  border: 0.4rem;
  border: 1px solid var(--color-gray-1);
  background: var(--color-dark-text);
  color: var(--color-white);
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.login-message {
  padding-top: 0;
}

.login-message h3,
.login-message a {
  font-size: 1.6rem;
}

.login-register-redirect h3 {
  font-size: 1.4rem;
}

.login-register-redirect span {
  margin-left: 0.3rem;
}

.login-register-redirect.register {
  margin-bottom: 1rem;
}

/* 404 error page */
.main-content-error-page {
  width: fit-content;
  margin: 0 auto;
}

.main-content-error-page img {
  max-width: 48rem;
  border-radius: 0.6rem;
  margin: 0 auto;
}

.error-message-content h2 {
  font-size: 2.5rem;
  margin-top: var(--spacing-gutter-medium);
}

.error-message-content h3 {
  font-size: 1.7rem;
  margin-top: calc(var(--spacing-gutter-medium) / 2);
}

.error-message-content a {
  color: var(--color-primary);
}

.error-message-content a:hover {
  color: var(--color-primary-hover);
}

/* menu */
.hidden-text {
  visibility: hidden;
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 26rem;
  min-height: 100vh;
  overflow-y: auto;
  z-index: 2;
  background: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 2rem;
  color: var(--color-white);
  background: var(--color-primary);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
}

.button-show-menu:hover {
  scale: 1.2;
}

.button-show-menu-is-visible {
  visibility: visible;
  opacity: 1;
  left: 0.5rem;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-size: 2.2rem;
  z-index: 3;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-top: 0.6rem;
}

.button-close-menu:hover {
  scale: 1.2;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-headings);
  font-size: 2rem;
}

.menu-nav a {
  width: fit-content;
  color: var(--color-white);
  transition: all 150ms ease-in-out;
}

.menu-nav a:hover {
  color: var(--color-gray-2);
}

.menu-link {
  font-size: 2.2rem;
  padding: 1.5rem;
  max-width: 25rem;
}

.menu-link i {
  margin-right: 0.5rem;
}

.menu-link.hello {
  color: var(--color-white);
}

/* dashboard */

.dashboard-exercise-title {
  padding: 0.5rem;
}

.exercise-dashboard-footer {
  display: flex;
}

.exercise-dashboard-footer a,
.exercise-dashboard-footer button {
  color: var(--color-white);
  text-decoration: none;
  padding: calc(var(--spacing-gutter-medium) / 2);
  transition: all 300ms ease-in-out;
  border: none;
  width: 100%;
  font-size: 1.7rem;
}

.exercise-dashboard-footer a {
  background: var(--color-primary-light);
  width: 80%;
}

.form-delete {
  width: 20%;
}

.exercise-dashboard-footer button {
  background: var(--color-error-dark);
}

.exercise-dashboard-footer a:hover,
.exercise-dashboard-footer button:hover {
  cursor: pointer;
}

.exercise-dashboard-footer a:hover {
  background: var(--color-primary);
}

.exercise-dashboard-footer button:hover {
  background: var(--color-error-dark-hover);
}

.dashboard-tag,
.dashboard-forms {
  padding: 0;
  margin-bottom: 0.7rem;
}

.dashboard-message-padding {
  padding-bottom: 2.5rem;
}

/* profile */

.main-content-profile img{
  max-width: 64rem;
  max-height: 22rem;
  border-radius: 0.5rem;
}

.main-content-profile {
  max-width: 64rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2.5rem;
}

/* footer */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-dark);
  color: var(--color-white);
  padding: var(--spacing-gutter-large);
  margin-top: auto;
}

.main-footer a {
  color: var(--color-white);
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  cursor: pointer;
  color: var(--color-primary);
}

/* pagination */
.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
}

.pagination .page-item {
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-primary-light);
  color: var(--color-white);
}

.pagination .page-current {
  background: var(--color-primary);
}

.pagination-arrow {
  font-size: 3rem;
  color: var(--color-primary);
  transition: all 200ms ease-in-out;
}

.pagination-arrow:hover {
  color: var(--color-primary);
  scale: 1.05;
}

/* others */
.center {
  text-align: center;
}

.mt {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.left {
  text-align: left;
}

.p-05 {
  padding: 0.5rem;
}

.p-medium {
  padding: var(--spacing-gutter-medium);
}

.default-link {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.default-link:hover {
  color: var(--color-primary-hover);
}

.sep {
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.span-2 {
  grid-column: span 2;
  font-family: sans-serif;
  font-size: 1.33rem;
}

.fa-pen-to-square,
.fa-dumbbell,
.fa-clipboard-user {
  margin-right: 0.5rem;
}

.fa-user {
  margin-left: 0.5rem;
}

.fa-dumbbell {
  rotate: 90deg;
}

.captcha-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0 1.5rem 0;
  max-width: 100%;
}

.btn-google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0.8rem;
  max-width: 64rem;
  border-radius: 0.3rem;
  margin: 0 auto;
  background: var(--color-white);
  color: var(--color-dark-text);
  font-family: var(--font-headings);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-in-out;
}

.btn-google-signin:hover {
  background: var(--color-gray-2);
}

.btn-google-signin img {
  width: 2.5rem;
  margin-right: 1.5rem;
}

.invisible {
  display: none;
}

/* medias */

@media (max-width: 750px) {
  .main-content-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exercise-container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-gutter-medium);
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .main-header-content span {
    font-size: 2.5rem;
  }

  .main-logo.logo img {
    margin: 0 0.7rem 0.3rem 0;
  }

  .form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2);
    align-items: center;
    justify-content: center;
  }

  .form-content {
    display: block;
    padding: 0;
    width: 100%;
  }

  .form-group {
    margin-top: 1rem;
  }

  .help-text {
    font-size: 1.4rem;
  }

  .errorlist li {
    margin-bottom: 0.3rem;
  }

  .messages-container {
    max-width: 91%;
  }

  .main-content-error-page {
    margin: 0 auto;
  }

  .main-content-error-page img {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 33rem;
  }

  .main-content-error-page h2 {
    font-size: 2rem;
  }

  .main-content-error-page h3 {
    font-size: 1.4rem;
  }

  .message-form,
  .btn-google-signin {
    width: 82%;
  }
}

@media only screen and (max-width: 500px) {
  .g-recaptcha {
    transform: scale(0.77);
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  .main-footer {
    display: block;
    text-align: center;
  }
}
