@import url(root.css);

/* user workouts */

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

td a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 150ms ease-in-out;
}

td a:hover {
  filter: brightness(0.8);
}

.workout-name {
  text-transform: capitalize;
}

.exercise.workout {
  max-width: 48rem;
  margin-top: var(--spacing-gutter-large);
}

a.not-published {
  color: var(--color-error-dark);
}

a.published {
  color: var(--color-success);
}

a.not-published, a.published {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.add-new-workout,
.add-new-exercise {
  padding: 0.5rem 0 1.5rem 0;
}

.add-new-workout,
.add-new-exercise {
  max-width: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem auto;
  padding-right: 2rem;
}

.add-new-workout a,
.add-new-exercise a {
  color: var(--color-primary);
}

.add-new-workout a:hover,
.add-new-exercise a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.workout-share .toggle-share-page i {
  font-size: 1.8rem;
}

.workout-share .toggle-share-page i:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.fa-trash-can {
  font-size: 1.8rem;
  color: var(--color-error-dark);
}

.fa-trash-can:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.workout-delete-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-delete {
  background: none;
  border: none;
}
