{% load static %}
{% load filters %}

<div class="exercise exercise-list-item">
    <div class="exercise-cover">
        {% if is_dashboard_page %}
            {% if not exercise.is_published %}
                <a href="{% url 'users:edit_exercise' exercise.pk %}">
                    {% if exercise.cover %}
                        <img src="{{exercise.cover.url}}" loading="lazy" alt="">
                    {% endif %}
                </a>
            {% else %}
                <a href="{% url 'training:exercises_detail' exercise.slug %}">
                    {% if exercise.cover %}
                        <img src="{{exercise.cover.url}}" loading="lazy" alt="">
                    {% endif %}
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'training:exercises_detail' exercise.slug %}">
                {% if exercise.cover %}
                    <img src="{{exercise.cover.url}}" loading="lazy" alt="">
                {% endif %}
            </a>
        {% endif %}
    </div>

    {% if is_dashboard_page %}
        <div class="exercise-title-container dashboard-exercise-title">
            <h2 class="exercise-title dashboard-exercise-title">
                {% if not exercise.is_published %}
                    <a href="{% url 'users:edit_exercise' exercise.pk %}">
                        {{exercise.title|title_limit_length}} 
                    </a>
                {% else %}
                    <a href="{% url 'training:exercises_detail' exercise.slug %}">
                        {{exercise.title|title_limit_length}} 
                    </a>
                {% endif %}
            </h2>
        </div>
    {% endif %}
    
    {% if not is_dashboard_page %}
        <div class="exercise-title-container">
            <h2 class="exercise-title">
                {% if is_home_page %}
                    <a href="{% url 'training:exercises_detail' exercise.slug %}">
                         {{exercise.title|title_limit_length}} 
                    </a>
                {% else %}
                    <a href="{% url 'training:exercises_detail' exercise.slug %}">
                        {{exercise.title}} 
                    </a>
                {% endif %}
            </h2>
        </div>
    {% endif %}

    <div class="exercise-data">
        {% if exercise.categories.all%}
            <span class="exercise-data-item">
                <i class="fas fa-layer-group"></i> 
                {% for category in exercise.categories.all  %}
                    {% if exercise.categories.all|length > 1 %}
                        {% if is_dashboard_page %}
                            <a href="{% url 'users:user_dashboard_category' category.id %}">
                                {{category.name}}
                            </a> |
                        {% else %}
                            <a href="{% url 'training:category' category.id %}">{{category.name}}</a> |
                        {% endif %}
                    {% else %}
                        {% if is_dashboard_page %}
                            <a href="{% url 'users:user_dashboard_category' category.id %}">
                                {{category.name}}
                            </a>
                        {% else %}
                            <a href="{% url 'training:category' category.id %}">{{category.name}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if not is_dashboard_page and exercise.published_by is not None %}
                    <span class="published-by">
                        -
                        <i class="fa-solid fa-user"></i>
                        {{exercise.published_by}}
                    </span>
                {% endif %}
            </span>
        {% endif %}
    </div>

    {% if is_detail_page %}
        {% if exercise.description %}
            <div class="exercise-description">
                <p>{{exercise.description}}</p>
            </div>
        {% endif %}
    {% endif %}

    {% if is_dashboard_page %}
        <div class="exercise-status">
            {% if not exercise.is_published %}
                <a href="{% url 'users:user_dashboard_is_published' exercise.is_published %}" class="not-published">
                     &#8226 Não Publicado 
                </a>
            {% else %}
                <a href="{% url 'users:user_dashboard_is_published' exercise.is_published %}" class="published">
                     &#8226 Publicado 
                </a>
            {% endif %}
        </div>
    {% else %}
    {% endif %}

    <div class="exercise-meta-container">
        <div class="exercise-meta exercise-series-number">
            <h3 class="exercise-meta-title"><i class="fa-solid fa-repeat"></i>
                Séries
            </h3>
            <div class="exercise-meta-text">
                {{exercise.series|format_series}}
            </div>
        </div>

        <div class="exercise-meta exercise-repeat-number">
            <h3 class="exercise-meta-title"><i class="fa-solid fa-xmark"></i>
                Repetições
            </h3>
            <div class="exercise-meta-text">
                {{exercise.reps|format_reps}}
            </div>
        </div>
    </div>
    
    {% if is_dashboard_page %}
        {% if not exercise.is_published %}
            <footer class="exercise-dashboard-footer">
                <a href="{% url 'users:edit_exercise' exercise.pk %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Editar
                </a>
                <form action="{% url 'users:user_dashboard_delete' exercise.pk %}" method="POST" class='form-delete'>
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{exercise.pk}}">
                    <button type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </footer>
        {% else %}
            <footer class="exercise-footer">
                <a href="{% url 'training:exercises_detail' exercise.slug %}"
                    class="exercise-read-more-button center">
                    <i class="fa-solid fa-eye"></i>
                    <span>Ver Mais...</span>
                </a>
            </footer>
        {% endif %}
    {% else %}

    {% if not is_detail_page %}
        <footer class="exercise-footer">
            <a href="{% url 'training:exercises_detail' exercise.slug %}"
                class="exercise-read-more-button center">
                <i class="fa-solid fa-eye"></i>
                <span>Ver Mais...</span>
            </a>
        </footer>
    {% endif %}  

    {% endif %}

</div>